@import url(loader.css);

body {
    background-color: #F1F1F2;
    font-family: 'Open Sans', Arial, sans-serif;
}

th {
    text-align: center;
}
.question-box {
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

.question-box > div:first-child {
    padding-bottom: 10px;
}

.question-box:first-child {
    border-top: 0;
}

.pi-grade:required:invalid {
    color: #999;
}

.pi-grade > option[value=''] {
    display: none;
}

.pi-grade:required:invalid > option {
    color: #555;
}
.common-errors {
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.sheet-title {
    text-align: center;
}

.planning-column {
    padding: 0 !important;
}

.planning-checkbox {
    display: none;
}

.planning-label {
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    cursor: pointer;
}

.planning-label:hover {
    background-color: #ddd;
}

.planning-label > .planning-line {
    display: block;
    width: 100%;
    height: 10px;
    position: relative;
    top: calc(50% - 5px);
}

.planning-checkbox:checked ~ .planning-label > .planning-line, .planning-label-checked > .planning-line {
    background-color: red;
}

.planning-label.planning-start {
    padding-left: 5px !important;
}

.planning-label.planning-start > .planning-line {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
}

.planning-label.planning-end {
    padding-right: 5px !important;
}

.planning-label.planning-end > .planning-line {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
}

textarea {
    resize: none;
    overflow: hidden;
}

th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
}

th.rotate > div {
    transform:
        /* Magic Numbers translate(25px, 51px);*/

        /* 45 is really 360 - 45 */
            rotate(315deg);

    -webkit-transform: rotate(315deg);
    width: 30px;
}
th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

#loadingAlert > .modal-dialog {
    width: 266px;
    margin: 25% auto;
}


.navbar {
    z-index: 50 !important;
}

body {
    margin: 50px 0px 0px 0px;
    padding: 0px;
}
