<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">
    <div class="starter-template">
        <h2 class="sheet-title"><strong>Assessment grid</strong> <span th:text="${#strings.concat('(', meta.currentPage, '/', meta.maxPage, ')')}">(2/10)</span></h2>
        <h3><span th:text="${meta.category}">1) Overarching Capabilities</span> - <strong th:text="${meta.subCategory}">Multi-Agency Command, Control and Coordination</strong></h3>
        <form method="post" class="form-horizontal" th:object="${form}">
            <div class="row common-errors" th:if="${#fields.hasAnyErrors()}">
                <div class="col-xs-12">Form contains errors, please correct it.</div>
            </div>
            <h3 th:if="${#lists.isEmpty(meta.sacsAnswers)}"><em>Nothing to show.</em></h3>
            <table class="table table-striped" th:if="${!#lists.isEmpty(meta.sacsAnswers)}">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Response Action</th>
                        <th>SACS Comment</th>
                        <th class="rotate"><div><span>SACS Overall PI Grade</span></div></th>
                        <th class="rotate" th:each="element : ${meta.elements}"><div><span th:text="${element.name}">DDD Policy</span></div></th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="answer : ${meta.sacsAnswers}">
                        <tr>
                            <td style="white-space: nowrap; vertical-align: middle;" th:text="${answer.number}">O-1</td>
                            <td><span th:text="${answer.question}">All agencies to be involved in response to NSE identified</span></td>
                            <td><span th:text="${answer.answer}">Most of the agencies involved in the response have been identified, but the formal policies, protocols and agreements are not yet all completed. This includes the national response plan.</span></td>
                            <td th:text="${answer.piGrade}" style="width: 40px;">1</td>
                            <td th:each="element : ${meta.elements}" style="width: 40px;">
                                <select th:title="${#strings.concat(element.name, ' grade')}" th:field="*{value[__${#questionnaireUtils.getPropertyName(answer.number, element.name)}__]}"
                                        class="form-control pi-grade" style="padding-left: 5px; padding-right: 5px; width: 42px;">
                                    <option value="" th:text="${#strings.concat(element.name, ' grade')}">Policy grade...</option>
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                    <option value="1">1</option>
                                    <option value="0">0</option>
                                </select>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <span th:replace="fragments :: buttons"></span>
        </form>
    </div>
</div>

<span th:replace="fragments :: bootrapScript"></span>

<span th:replace="fragments :: savingInProgressAlert"></span>

</body>
</html>
