<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:replace="fragments :: titleAndContentType">IAEA - SACS</title>

    <script type="text/javascript" src="webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/main.js}" src="../../js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="webjars/open-sans/1.1.0/css/open-sans.min.css"/>
    <link rel="stylesheet" type="text/css" href="webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
</head>

<head th:fragment="headTitleAndContentType">
    <title th:replace="fragments :: titleAndContentType">IAEA - SACS</title>
</head>

<hean th:fragment="titleAndContentType" th:remove="tag">
    <title>IAEA - SACS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</hean>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">IAEA Assistance programme on Nuclear Security Response Capabilities</a>
        </div>
        <div class="navbar-header" style="float: right">
            <span class="navbar-brand" th:text="${common.companyName}">Company</span>
        </div>
        <ul class="nav navbar-nav" th:if="${common.companyName}">
            <li class="active"><a href="#" th:text="Instructions" th:onclick="'javascript:goto(\'INSTRUCTION\',null,null)'"></a></li>


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">SACS
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <th:block th:each="entry,iter : ${common.questionnaireMenu}">
                        <li th:class="${entry.active} ? '' : 'disabled'">
                            <a
                                href="#"
                                th:text="${entry.subCategory}"
                                th:onclick="'javascript:goto(\'QUESTION\',\'' + ${entry.category} + '\',\'' + ${entry.subCategory} + '\')'"
                                th:class="${entry.active} ? 'active' : 'not-active'">
                            </a>
                        </li>
                    </th:block>
                </ul>
            </li>


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Assessment
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <th:block th:each="entry,iter : ${common.assessmentMenu}">
                        <li th:class="${entry.active} ? '' : 'disabled'">
                            <a
                                href="#"
                                th:text="${entry.subCategory}"
                                th:onclick="'javascript:goto(\'ASSESSMENT\',\'' + ${entry.category} + '\',\'' + ${entry.subCategory} + '\')'"
                                th:class="${entry.active} ? 'active' : 'not-active'">
                            </a>
                        </li>
                    </th:block>
                </ul>
            </li>


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Planner
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <th:block th:each="entry,iter : ${common.plannerMenu}">
                        <li th:class="${entry.active} ? '' : 'disabled'">
                            <a
                                href="#"
                                th:text="${entry.subCategory}"
                                th:onclick="'javascript:goto(\'PLANNER\',\'' + ${entry.category} + '\',\'' + ${entry.subCategory} + '\')'"
                                th:class="${entry.active} ? 'active' : 'not-active'">
                            </a>
                        </li>
                    </th:block>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:fragment="bootrapScript"></script>

<div class="row" th:fragment="buttons">
    <div class="col-xs-4">
        <span th:replace="fragments :: buttonPrevious"></span>
    </div>
    <div class="col-xs-4">
        <span th:replace="fragments :: buttonSave"></span>
    </div>
    <div class="col-xs-4">
        <span th:replace="fragments :: buttonSaveNext"></span>
        <span th:replace="fragments :: buttonFinish"></span>
        <span th:replace="fragments :: buttonPrint"></span>

    </div>
</div>

<button th:fragment="buttonStart" th:if="${#lists.contains(common.actions, 'NEXT')}" type="submit" class="btn btn-primary btn-block" name="action" value="next">Start <span class="glyphicon glyphicon-arrow-right"/></button>
<button th:fragment="buttonPrevious" th:if="${#lists.contains(common.actions, 'PREVIOUS')}" type="submit" class="btn btn-primary btn-block" name="action" value="previous"><span class="glyphicon glyphicon-arrow-left"/> Previous</button>
<button th:fragment="buttonNext" th:if="${#lists.contains(common.actions, 'NEXT')}" type="submit" class="btn btn-primary btn-block" name="action" value="next">Next <span class="glyphicon glyphicon-arrow-right"/></button>
<button th:fragment="buttonSaveNext" th:if="${#lists.contains(common.actions, 'NEXT')}" type="submit" class="btn btn-primary btn-block" name="action" value="next">Save &amp; Next <span class="glyphicon glyphicon-arrow-right"/></button>
<button th:fragment="buttonFinish" th:if="${#lists.contains(common.actions, 'FINISH')}" type="submit" class="btn btn-primary btn-block" name="action" value="next">Finish <span class="glyphicon glyphicon-flag"/></button>
<button th:fragment="buttonSave" th:if="${#lists.contains(common.actions, 'SAVE')}" type="submit" class="btn btn-primary btn-block" name="action" value="save">Save <span class="glyphicon glyphicon-floppy-disk"/></button>
<button th:fragment="buttonPrint" th:if="${#lists.contains(common.actions, 'PRINT')}" type="submit" class="btn btn-primary btn-block" name="action" value="print">Print <span class="glyphicon glyphicon-print"/></button>

<th:block th:fragment="alerts">
    <span th:replace="fragments :: savingProgressAlert"></span>
    <span th:replace="fragments :: loadingAlert"></span>
</th:block>

<div th:fragment="savingProgressAlert" id="savingProgressAlert" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Saving data</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="loadingAlert" id="loadingAlert" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="fountainG">
                    <div id="fountainG_1" class="fountainG"></div>
                    <div id="fountainG_2" class="fountainG"></div>
                    <div id="fountainG_3" class="fountainG"></div>
                    <div id="fountainG_4" class="fountainG"></div>
                    <div id="fountainG_5" class="fountainG"></div>
                    <div id="fountainG_6" class="fountainG"></div>
                    <div id="fountainG_7" class="fountainG"></div>
                    <div id="fountainG_8" class="fountainG"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
