<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>IAEA - SACS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="webjars/open-sans/1.1.0/css/open-sans.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
    <script type="text/javascript" src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/main.js}" src="../../js/main.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse" th:fragment="navigation">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">IAEA - SACS</span>
        </div>
        <div class="navbar-header" style="float: right">
            <span class="navbar-brand"><a onclick="closeApplication()">Close</a></span>
            <span class="navbar-brand" th:if="${#lists.contains(common.actions, 'RESET')}"><a th:href="@{reset}">Reset</a></span>
            <span class="navbar-brand" th:text="${common.companyName}">Company</span>
        </div>
    </div>
</nav>

<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:fragment="bootrapScript"></script>

<div class="row" th:fragment="buttons">
    <div class="col-xs-6">
        <span th:replace="fragments :: buttonPrevious"></span>
    </div>
    <div class="col-xs-6">
        <span th:replace="fragments :: buttonNext"></span>
        <span th:replace="fragments :: buttonFinish"></span>
    </div>
</div>

<button th:fragment="buttonPrevious" th:if="${#lists.contains(common.actions, 'PREVIOUS')}" type="submit" class="btn btn-primary btn-block" name="action" value="previous"><span class="glyphicon glyphicon-arrow-left"/> Previous</button>
<button th:fragment="buttonNext" th:if="${#lists.contains(common.actions, 'NEXT')}" type="submit" class="btn btn-primary btn-block" name="action" value="next">Next <span class="glyphicon glyphicon-arrow-right"/></button>
<button th:fragment="buttonFinish" th:if="${#lists.contains(common.actions, 'FINISH')}" type="submit" class="btn btn-primary btn-block" name="action" value="next">Finish <span class="glyphicon glyphicon-flag"/></button>

</body>
</html>