<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <div class="starter-template">
                <h1>Guidance Notes  on the completion of the Self-Assessment Capability Survey Form</h1>
                <strong>Purpose</strong>
                <p>
                    The purpose of the SACS form is to assist Member States and the IAEA to understand the current situation
                    which exists in a State in relation to its preparedness for response to a nuclear security event and so,
                    if required by the State, to initiate the process for improvement of national nuclear security response capability.
                    This instrument is designed to consider, in detail, each key element of preparedness for response. By completing the SACS,
                    the State should be able to identify the specific areas in nuclear security response capabilities in which its preparedness is strong,
                    as well as identifying areas for improvement, which need to be addressed. Once all these areas for improvement have been identified,
                    they can be prioritised by the State in an action plan (Capability Development Plan “CDP”),  nationally endorsed and, if required,
                    jointly signed by the IAEA. Proper implementation of such an action plan will ensure that the State acquires its effective nuclear
                    security event response capability, proportional to its expectations and needs. In addition, by following the SACS process it is hoped
                    that Member States will be provided with a further opportunity to assimilate the recommendations of the IAEA with regard to the response
                    to Nuclear Security Events. As soon as a State commences completion of the SACS process, the SACS forms and the CDP should be treated as confidential.
                </p>
                <strong>Structure of the SACS</strong>
                <p>
                    Experience has demonstrated that a State’s response to nuclear security events (and indeed to all types of security events) is far more effective
                    when that response follows a recognised structure. A generic response structure is set out in the IAEA Nuclear Security Series publications
                    and in particular  in  Section 4 of NST 004 (Draft) in the form of key response activities. These activities include (but are not limited to):
                </p>
                <ul>
                    <li>Information Gathering</li>
                    <li>Information Analysis</li>
                    <li>Notification, Activation and Deployment</li>
                    <li>Interdiction</li>
                    <li>Criminal Investigations</li>
                    <li>Public Information</li>
                    <li>Consequence Management</li>
                </ul>
                <p>
                    The SACS follows this same structure, enabling a State to examine each Key Response Activity and Action of its response capabilities in detail.
                    Additionally, the SACS refers to a number of overarching capabilities around National Response Plans and the issues of Command and Control which,
                    although not a key activity per se, are essential if a State’s key activities are to be undertaken in a coordinated manner.
                </p>
                <h2>Grading Capabilities with Performance Indicators</h2>
                <p>
                    In order to assist a State in completing the SACS a grading structure has been developed. This structure takes the form of Performance Indicators,
                    designed to enable a State to assess its current capabilities against a ‘sliding scale’ of preparedness. This scale is graded from 0-3,
                    with 0 indicating no capability in a particular area, and 3 indicating well-developed and tested capability which requires no further
                    development in order to reach an effective level.
                    Each Performance Indicator contains a short definition and some examples of possible indicators, which may assist a State to determine
                    the most appropriate grade. The SACS Performance Indicators are set out in table below.
                </p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>PI GRADE</th>
                        <th>Definition</th>
                        <th>Possible Indicators</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td align="center">3</td>
                        <td>
                            <p>
                                MS has full confidence in its capability to deliver this activity. No State’s significant development efforts needed IAEA
                                or other State’s support required – State is able to assist other Member States.
                            </p>
                        </td>
                        <td>
                            <p>
                                The policy, procedures, organisation, infrastructure, logistics, personnel, equipment and training required to provide
                                an effective response are all fully developed
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">2</td>
                        <td>
                            <p>
                                Good confidence in the MS capability to deliver the activity required – some limitations present
                                but a programme of improvement is in place –   improvement based on State’s own development efforts
                                and limited requirement for IAEA or other State’s support.
                            </p>
                        </td>
                        <td>
                            <p>
                                The majority of the policy, procedures, organisation, infrastructure, logistics, personnel,
                                equipment and training to provide an effective response are not yet fully developed or are in the course of being improved
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">1</td>
                        <td>
                            <p>
                                Low confidence in the MS capability to deliver the activity required – no programme of improvement in place –  significant
                                State’s own development efforts needed, priority for IAEA or other State’s support
                            </p>
                        </td>
                        <td>
                            <p>
                                The majority of policy, procedures, organisation, infrastructure, logistics, personnel,
                                equipment and training to provide an effective response are not yet fully developed and no improvement program is in place
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">0</td>
                        <td>
                            <p>
                                No capability in place – urgent  State’s own action needed and support required from IAEA or other State
                            </p>
                        </td>
                        <td>
                            <p>
                                Member State has no capability and is unable to develop a capability without external assistance.
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p>
                    In addition to enabling a State to identify and prioritize nuclear security response activities, it is foreseen
                    that the use of these Performance Indicators will enable the IAEA to target its resources more effectively by identifying
                    Member States who have common capability requirements. IAEA may then offer the identified capability development support
                    to these States, where appropriate, in a group setting (for example by running regional workshops for States who
                    have identified the same needs within a region).
                </p>
                <p>
                    An additional benefit of such an approach may be to enable States with similar needs to cooperate regionally,
                    providing enhanced regional capabilities and offering support to each other as they develop their capabilities.
                </p>
                <h2>Completion of the SACS</h2>
                <p>
                    NST 004 recommends the use of multi-agency workshops or meetings for States wishing to develop their National Framework
                    for Managing the Response to Nuclear Security Events. The same approach is also recommended when completing the SACS.
                    A multi-Agency workshop or meeting enables national stakeholders to discuss their capabilities with partners,
                    identifying the areas of strength and areas of developmental need, and reaching an agreed assessment of capability
                    when completing each SACS category. This assessment of capability should then be recorded in the appropriate SACS category
                    as a grade in accordance with the Performance Indicators outlined above.
                </p>
                <p>
                    In addition to the assignment of a Performance Indicator grade for each SACS question, States are encouraged to provide
                    some brief comments rationalising their assessment of performance. These comments are especially important where a State
                    allocates a grade of 0 or 3, assisting the IAEA with determining the level of support required by the State to commence
                    development of capability, or the State’s ability to support other States in this area.
                </p>
                <p>
                    An example of a completed SACS (based on a fictitious State) can be found at Annex 1. This example should be seen only
                    as an indication of the type of comments which can be used to support a particular grading. Each State will clearly
                    wish to use its own comments when completing its SACS.
                </p>
                <h2>Next Steps - Capability Development Planning</h2>
                <p>
                    Once a State has completed its SACS process and developed a prioritised draft Capability Development Plan (CPD)
                    the CDP may be forwarded to the IAEA for consultation, evaluation and an assessment of need to take place,
                    in order to discuss the completion of a Capability Development Plan for the State.
                </p>
                <p>
                    The Capability Development Plan should be endorsed nationally and may be signed jointly between the State and the IAEA
                    and will set out a structured, prioritised plan for the development of the State’s nuclear security response capability,
                    in accordance with the priorities highlighted during the SACS process.
                </p>
                <form method="post">
                    <span th:replace="fragments :: buttons"></span>
                </form>
            </div>
        </div>
    </div>
</div>

<span th:replace="fragments :: bootrapScript"></span>

</body>
</html>