<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <br/>
    <div class="row">
        <form id="top" method="post">
            <div class="col-xs-4">
                <span th:replace="fragments :: buttonPrevious"></span>
            </div>
            <div class="col-xs-4 col-xs-offset-4 ">
                <span th:replace="fragments :: buttonNext"></span>
            </div>
        </form>
    </div>
    <br/>

    <div th:if="${#strings.isEmpty(common.intro)==false}" th:utext="${common.intro}"></div>
    <th:block th:if="${#strings.isEmpty(common.intro)==true}">
        <div th:replace="intro_default :: intro"></div>
    </th:block>

    <div class="row">
        <form id="bottom" method="post">
            <div class="col-xs-4">
                <span th:replace="fragments :: buttonPrevious"></span>
            </div>
            <div class="col-xs-4 col-xs-offset-4 ">
                <span th:replace="fragments :: buttonNext"></span>
            </div>
        </form>
    </div>
    <br/>
</div>

<!--MS <span th:replace="fragments :: bootrapScript"></span>-->

<span th:replace="fragments :: alerts"></span>

</body>
</html>
