<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">
    <div class="starter-template">
        <h2 class="sheet-title"><strong>Capability Development Plan</strong> <span th:text="${#strings.concat('(', meta.currentPage, '/', meta.maxPage, ')')}">(2/10)</span></h2>
        <h3><span th:text="${meta.category}">1) Overarching Capabilities</span> - <strong th:text="${meta.subCategory}">Multi-Agency Command, Control and Coordination</strong></h3>
        <form method="post" class="form-horizontal" th:object="${form}">
            <div class="row common-errors" th:if="${#fields.hasAnyErrors()}">
                <div class="col-xs-12">Form contains errors, please correct it.</div>
            </div>
            <h3 th:if="${#lists.isEmpty(meta.sacsAnswers)}"><em>Nothing to show.</em></h3>
            <table class="table" th:if="${!#lists.isEmpty(meta.sacsAnswers)}">
                <thead>
                <tr>
                    <th rowspan="2">No.</th>
                    <th rowspan="2">Response action</th>
                    <th rowspan="2">Comment</th>
                    <th rowspan="2">Element</th>
                    <th rowspan="2">PI grade</th>
                    <th rowspan="2" style="min-width: 250px;">Development plan</th>
                    <th rowspan="2" style="min-width: 250px;">Ownership</th>
                    <th th:each="year : ${meta.years}" th:text="${year.name}" colspan="4">2017</th>
                </tr>
                <tr>
                    <th:block th:each="year : ${meta.years}">
                        <th th:each="quarter : ${year.quarters}" th:text="${#strings.concat(quarter.name, 'Q')}">1Q</th>
                    </th:block>
                </tr>
                </thead>
                <tbody>
                    <th:block th:each="answer : ${meta.sacsAnswers}">
                        <tr>
                            <td th:rowspan="${1 + #maps.size(answer.piGrades)}" th:text="${answer.number}">O-1</td>
                            <td th:rowspan="${1 + #maps.size(answer.piGrades)}" th:text="${answer.question}">All agencies to be involved in response to NSE identified</td>
                            <td th:rowspan="${1 + #maps.size(answer.piGrades)}" th:text="${answer.answer}">Most of the agencies involved in the response have been identified, but the formal policies, protocols and agreements are not yet all completed. This includes the national response plan.</td>
                        </tr>
                        <tr th:each="elementEntry : ${answer.piGrades}">
                            <td th:text="${elementEntry.key}">Policy</td>
                            <td th:text="${elementEntry.value}">1</td>
                            <td><input th:field="*{value[__${#questionnaireUtils.getPropertyName(#strings.concat(answer.number, '-', elementEntry.key), 'task')}__]}" class="form-control"/></td>
                            <td><input th:field="*{value[__${#questionnaireUtils.getPropertyName(#strings.concat(answer.number, '-', elementEntry.key), 'ownership')}__]}" class="form-control"/></td>
                            <th:block th:each="year : ${meta.years}">
                                <td class="planning-column" th:each="quarter: ${year.quarters}">
                                    <input th:field="*{value[__${#questionnaireUtils.getPropertyName(#strings.concat(answer.number, '-', elementEntry.key), #strings.concat(year.name, '-', quarter.name))}__]}" th:id="${#questionnaireUtils.getPropertyName(#strings.concat(answer.number, '-', elementEntry.key), #strings.concat(year.name, '-', quarter.name))}" type="checkbox" class="planning-checkbox" value="true"/>
                                    <label th:for="${#questionnaireUtils.getPropertyName(#strings.concat(answer.number, '-', elementEntry.key), #strings.concat(year.name, '-', quarter.name))}" class="planning-label">
                                        <span class="planning-line"></span>
                                    </label>
                                </td>
                            </th:block>
                        </tr>
                    </th:block>
                </tbody>
            </table>

            <span th:replace="fragments :: buttons"></span>
        </form>
    </div>
</div>

<span th:replace="fragments :: bootrapScript"></span>

<span th:replace="fragments :: savingInProgressAlert"></span>

</body>
</html>