<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <div class="starter-template">
        <h2 class="sheet-title"><strong>SACS</strong> <span th:text="${#strings.concat('(', meta.currentPage, '/', meta.maxPage, ')')}">(2/10)</span></h2>
        <h3><span th:text="${meta.category}">1) Overarching Capabilities</span> - <strong th:text="${meta.subCategory}">Multi-Agency Command, Control and Coordination</strong></h3>
        <form th:object="${form}" method="post" class="form-horizontal">
            <div class="row common-errors" th:if="${#fields.hasAnyErrors()}">
                <div class="col-xs-12">Form contains errors, please correct it.</div>
            </div>
            <div th:each="question : ${meta.sacsAnswers}" class="question-box">
                <div class="row">
                    <div class="col-xs-3"><strong>No.:</strong> <span th:text="${question.number}"></span></div>
                    <div class="col-xs-9">
                        <th:block th:if="${question.type == 'STANDARD_QUESTION'}"><strong>Response action:</strong> <span th:text="${question.question}"></span></th:block>
                        <th:block th:if="${question.type == 'ADDITIONAL_COMMENT'}"><strong>Additional written comments</strong></th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <select title="PI Grade" th:field="*{value[__${#questionnaireUtils.getPropertyName(question.number, 'piGrade')}__]}" class="form-control pi-grade">
                            <option value="">select PI Grade..</option>
                            <option value="3">3 - MS has full confidence in its capability</option>
                            <option value="2">2 - good confidence in the MS capability</option>
                            <option value="1">1 - low confidence in the MS capability</option>
                            <option value="0">0 - no capability in place</option>
                        </select>
                    </div>
                    <div class="col-xs-9">
                        <textarea th:field="*{value[__${#questionnaireUtils.getPropertyName(question.number, 'comments')}__]}" class="form-control" th:placeholder="${question.type == 'STANDARD_QUESTION' ? 'enter comments' : 'enter additional comments'}"></textarea>
                    </div>
                </div>
            </div>
            <span th:replace="fragments :: buttons"></span>
        </form>
    </div>
</div>

<span th:replace="fragments :: bootrapScript"></span>

</body>
</html>